:root {
  --color-bg: #282828;
  --color-fg: #eadbb2;
  --color-fg-rgb: 234, 219, 178;
  --color-link-visited: #8f9191;
  --color-link-hover: #668f8b;
  --color-link: #fa7921;
}

@media only screen and (min-width: 1000px) and (max-width: 2500px) {
  html,
  body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "Fira Code";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #web-search:active,
  #web-search,
  #web-search:focus {
    background-color: var(--color-bg);
    text-decoration: none;
    border: 1px;
    padding: 18px;
    border-color: rgba(var(--color-fg), 0.5);

    border-style: ridge;
    font-size: 22px;
    color: var(--color-fg);
    outline: none;
  }

  #web-search::placeholder {
  }

  .ui-autocomplete {
    background-color: var(--color-bg);
    color: var(--color-link);
  }

  .ui-menu {
    padding: 0;
    margin: 0;
    left: 0px;
    width: 10%;
    border: 1px solid rgb(234, 219, 178);
  }

  .container {
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    padding-right: 12%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  .left-container {
    grid-area: left;
    aspect-ratio: 1/1;
  }

  .right-container {
    grid-area: right;
    height: 50%;
    width: 100%;
  }

  .gif img {
    max-width: 100%;
    max-height: 600px;
    min-width: 250px;
    min-height: 250px;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 60px;
  }

  .category {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  .bookmarks {
    display: flex;
    justify-content: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title {
    font-size: 20px;
  }

  li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px;
  }

  a:link {
    text-decoration: none;
    color: var(--color-link);
  }

  a:visited {
    color: var(--color-link);
  }

  a:hover {
    color: var(--color-link-hover);
  }

  .blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
  }

  @keyframes opacity {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  html,
  body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "Fira Code";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #web-search:active,
  #web-search,
  #web-search:focus {
    background-color: var(--color-bg);
    text-decoration: none;
    border: 1px;
    padding: 18px;
    border-color: rgba(var(--color-fg), 0.5);

    border-style: ridge;
    font-size: 22px;
    color: var(--color-fg);
    outline: none;
  }

  #web-search::placeholder {
  }

  .ui-autocomplete {
    background-color: var(--color-bg);
    color: var(--color-link);
  }

  .ui-menu {
    padding: 0;
    margin: 0;
    left: 0px;
    width: 10%;
    border: 1px solid rgb(234, 219, 178);
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  .left-container {
    grid-area: left;
    aspect-ratio: 1/1;
  }

  .right-container {
    grid-area: right;
    height: 50%;
    width: 100%;
  }

  .gif img {
    max-width: 100%;
    max-height: 300px;
    min-width: 250px;
    min-height: 250px;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 60px;
  }

  .category {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  .bookmarks {
    display: flex;
    justify-content: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title {
    font-size: 20px;
  }

  li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px;
  }

  a:link {
    text-decoration: none;
    color: var(--color-link);
  }

  a:visited {
    color: var(--color-link);
  }

  a:hover {
    color: var(--color-link-hover);
  }

  .blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
  }

  @keyframes opacity {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
