@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  overflow: hidden;
}

.background {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/assets/images/background.jpg');
  background-size:cover;
  color: #fff;
  overflow: hidden;
  }


.content {
    position: absolute;
    z-index: 0;
    left: 0;
    transform: translateY(25%);
    width: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    visibility: visible;
}

.logo {
  position: relative;
  vertical-align: middle;
  z-index: 1;
  max-width: 240px
}

.header {
  color: #fff;
  font-family: 'Cormorant Garamond';
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 20px;
  margin-bottom: 57px;
  text-align: center;
  text-indent: 24px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.header::after {
  content : "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  height: 3px;
  bottom: 0;
  width: 35%;
  border-bottom: 3px solid #00ffcc;
}

.comingsoon {
  padding-top: 20px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
}

.message {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2rem;
  line-height: 1.5em;
  color: #fff;
}


.sm-container {
  display: inline-block;
  position: absolute;
  text-align: center;
  z-index: 1337;
  width: 100%;
  bottom: 2vh;
}

.sm-container i {
  margin-left: 1em;
  margin-right: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all .15s ease-in-out;
 }
 a:hover,
 a:active {
   color: #c6c6c6;
  }
