html, body{
	overflow: hidden;
}
body {
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(135deg,rgba(255,188,0,0.1),rgba(0,255,235,0.15)),url('../images/background2.webp') no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
  	width: 100%;
}

.container{
	color: #FFF;
	width: 100%;
	position: absolute;
	top: 33%;	
	transform: translateY(-50%);
	text-align: center;
}

#title{
	width: 100%;
	font-size: 2vh;
}

#fof{
	width: 100%;
	font-size: 10vw;
	margin: 0;
	font-weight: 900;
	letter-spacing: 20px;
}

#desc{

}

.button{
	display: flex;
	justify-content: center;
    transform: translateY(3vh);
    text-align: center;
}
.back-button{
	font-size: 100%;
	background: #00ffcc;
	padding: 12px 24px;
	text-transform: uppercase;
	transition: 0.4s;
	border-radius: 25px;
    
}
.back-button:hover{
	background: #00ffccaa;
}
#back-btn{
	text-decoration: none;
	color: #fff;
}